<textarea id="asd_@ViewBag.Id" class="form-control" rows="3" placeholder="Enter ...">@ViewBag.Content</textarea>
<ul>
    <li><input onclick="Save('CT_@ViewBag.Id', @ViewBag.Id, 'asd_@ViewBag.Id')" type="submit" value="Save" /></li>
</ul>