@using TLU.Blog.Models.DataBase;
@using TLU.Blog.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Error</title>
</head>
<body>
    <p>Bạn không có quyền truy cập vào page này</p>
</body>
</html>