
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<p>Bạn chưa đăng nhập tài khoản</p>
<p>@Model</p>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<p>Bạn chưa đăng nhập tài khoản</p>
<p>@Model</p>